.detail-page {
  color: #000;
  overflow-x: hidden;
  background-image: url("https://i.imgur.com/GMmCQHC.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'Raleway', sans-serif;
  min-height: 100vh;
  padding-bottom: 50px;
}

.card {
  padding: 30px 40px;
  margin-top: 60px;
  margin-bottom: 60px;
  border: none !important;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
  background: #fff;
  border-radius: 10px;
}

.blue-text {
  color: #000000;
  font-weight: bold;
}

.form-control-label {
  margin-bottom: 5px;
  font-weight: 600;
  color: #333;
}

input,
select,
button {
  padding: 10px 15px;
  border-radius: 5px !important;
  margin: 5px 0px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  font-size: 16px;
  font-weight: 300;
  /* width: 100%; */
}

input:focus,
select:focus {
  border: 1px solid #6FAA09;
  outline: none;
  box-shadow: none;
}

.btn-block {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  height: 43px;
  cursor: pointer;
  background-color: #6FAA09;
  border: none;
  color: #fff;
  border-radius: 5px;
}

.btn-block:hover {
  background-color: #6FAA09;
}
