.footer {
  background-color: #222;
  color: #fff;
  font-size: 15px;
}

.footer-link {
  color: #bbb;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: #6FAA09;
}

.footer-icon {
  color: #bbb;
  font-size: 18px;
  transition: color 0.3s ease;
}

.footer-icon:hover {
  color: #6FAA09;
}

.footer h5 {
    color : #6FAA09;
}
