.navbar-light .navbar-nav .nav-link {
  color: #000;
  font-weight: 500;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #0d6efd;
}

.btn-rounded {
  border-radius: 50px;
}

.navbar-brand img {
  height: 80px; /* ajuste ici : 50–80 selon le rendu souhaité */
  width: auto;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.navbar-brand img:hover {
  transform: scale(1.05);
}

